# Le repository ne doit contenir que le code spécifique est pas le standard wordpress
# exclu tous les fichiers sauf le répertoire /wp-content/themes/twentytwenty-child
/*
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/twentytwenty-child
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/reservation-evenements
